body {
    background-color: #313336;
}
h1 {
    color: white;
    font-family: Arial;
    font-size: xxx-large;
}
p {
    color: white;
    font-family: Arial;
}
nav{
    color: white;
    font-family: Arial;
}